<table class="table">
  <thead class="blue">
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}}
      
       </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of elements;let i = index">

      <th scope="row">{{element.taskNo}}</th>
      <td>{{element.taskName}}</td>
      <td>{{element.developerName}}</td>
      <td>
        <button type="button"  (click)="clickEven(element)">Click!</button>
        <button class="button_transparent" (click)="Delete(element,i)"> delete </button>

      </td>
    </tr>
  </tbody>
</table>
<!-- input -->
<!-- <div *ngIf="visible">
<app-tasklogsheet [taskInput]='parentInput'></app-tasklogsheet>
</div> -->